:root{
    --primary-color:#10B981;
    --wrapper-color:#fff;

}

*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:var(--primary-color) ;
}
.wrapper{
    max-width: 400px;
    background-color: var(--wrapper-color);
    margin: 135px auto;
    border-radius: 6px;
    /* padding: 25px ; */
    padding: 28px 0 30px;
}
.task-input{
    height: 50px;
    position: relative;
    padding: 0 25px;
    
    
}
.task-input i{
    position: absolute;
    font-size: 30px;
    top: 20%;
    left:35px;
     color: #bfbfbb;
     
}
.task-input input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 20px 0 50px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #999;
}
.task-input input::placeholder{
    color: #bfbfbb;
}
.controls, li{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.controls
{
    padding: 18px 25px;
    border-bottom: 1px solid #bfbfbb;
   
}
.filters span{
    margin: 0 8px;
    font-size: 17px;
    color: #444444;
    cursor: pointer;
    
}

.filters span:first-of-type{
    margin-left: 0;
}
.controls .clear-btn{
    padding: 7px 13px;
    color:var(--wrapper-color);
    background-color: var(--primary-color);
    font-size: 13px;
    border-radius: 6px;
    border: none;
    /* opacity: 0.6; */
    cursor: pointer;
    
    transition: all 0.25s ease;
}
.task-box{
    margin-top: 20px;
    margin-right: 5px;
    padding-right: 20px;
    /* padding: 0 20px 10px 25px; */
}
.task-box .task{
    width: 100%;
    list-style-type:none;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    padding: 0 10px 20px 25px;
    margin-bottom: 18px;
    /* padding-top: 16px; */
}
/* .task p{
    position: relative;
    left: 17px;
    bottom: 18px;
} */
.task-box .task:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}
.task label{
    display: flex;
}
.task label input{
    margin-right: 12px;
}
.task label p.checked{
    text-decoration: line-through;
}
.settings{
    cursor: pointer;
    position: relative;
    
}
.settings .task-menu{
    transform: scale(0);
    position: absolute;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    right: -5px;
    bottom: -60px;
    z-index: 2;
    padding: 5px 0;
    background-color: var(--wrapper-color);
    border-radius: 5px;
    transition:transform 0.2s ease;
    transform-origin: top right;
}
.settings:hover .task-menu{
    transform: scale(1);
}
.task-menu li{
    height: 25px;
    font-size: 16px;
    padding: 17px;
    margin-bottom: 2px;
    justify-content: flex-start;
    transition: all 0.2s ease;
}
.task-menu li:last-child{
    margin-bottom: 0;
}

.task-menu li:hover{
    background-color: #f5f5f5;
}
.task-menu li i{
    padding-right: 8px;
}